.Header{
  
    height: 50px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 20px;
}
.account{
    width: 98px;
    height: 27px;
    border-radius: 14px;
    border: 1px solid #bdaaaa;
    margin-top:12px;
    margin-bottom: 12px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 6px;


}
.profile{
    width: 17px;
    height: 17px;
}
.text{
    color: #999999;
    /* color: #999; */
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 300;
line-height: normal;
padding-right: 20px;
}